body{
   background: rgb(27, 25, 25);
   font-size: 40px
   text-align: center;
}
h1{
    text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  color: aqua;
}
.somke {
    
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
.wasan-yousef{
    border: 5px solid white;
    width: 100%;
}
li{
    color: whitesmoke;
    font-size: 30px;
}

    

